:root {
  --primary-color: #fb4c47;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "MyCustomFont";
  text-decoration: none;
  background-color: #fff8f8;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("../Fonts/Gelion Regular.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 3px solid var(--primary-color);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .nav_items {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
  padding: 20px;
  position: relative;
}
header nav .nav_items .nav_item {
  color: #096887;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
  font-size: 18px;
}
header nav button {
  font-size: 18px;
  font-weight: 500;
  border-radius: 46px;
  padding: 16px 45px;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
header nav button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

main {
  padding-top: 140px;
}
main .hero .hero_content {
  display: flex;
  align-items: center;
  justify-content: end;
}
main .hero .hero_content .hero-texts {
  max-width: 610px;
}
main .hero .hero_content .hero-texts h3 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 32px;
}
main .hero .hero_content .hero-texts h1 {
  color: #035755;
  font-weight: 700;
  font-size: 52px;
  line-height: 50px;
  padding-bottom: 30px;
}
main .hero .hero_content .hero-texts p {
  color: #4b4f51;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
}
main .hero .hero_content .hero-texts button {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  padding: 20px 60px;
  border-radius: 65px;
  border: 2px solid var(--primary-color);
  margin-top: 54px;
  box-shadow: 0px 8px 87px 0px rgba(0, 0, 0, 0.1019607843);
  background: var(--primary-color);
  cursor: pointer;
}
main .hero .hero_content .hero-texts button:hover {
  background-color: transparent;
  color: var(--primary-color);
  transition: 0.3s;
}
main .hero .hero_content img {
  max-width: 800px;
}
main .whatis .whatis_contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .whatis .whatis_contant img {
  max-width: 600px;
}
main .whatis .whatis_contant .whatis_texts {
  max-width: 650px;
}
main .whatis .whatis_contant .whatis_texts h3 {
  color: var(--primary-color);
  font-size: 29px;
}
main .whatis .whatis_contant .whatis_texts h1 {
  font-size: 50px;
  color: #035755;
}
main .whatis .whatis_contant .whatis_texts p {
  color: #4b4f51;
  font-size: 20px;
  line-height: 43px;
  text-transform: capitalize;
}
main .whatis .whatis_contant .whatis_texts button {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
  padding: 18px 50px;
  margin-top: 30px;
  border: none;
  border-radius: 65px;
  background: rgba(250, 86, 82, 0.1490196078);
  transition: background-color 0.3s, color 0.3s;
}
main .whatis .whatis_contant .whatis_texts button:hover {
  background-color: var(--primary-color);
  color: #fee0df;
}
main .contagion .contagion_content {
  display: flex;
  flex-direction: column;
}
main .contagion .contagion_content .contagion_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}
main .contagion .contagion_content .contagion_title h4 {
  color: var(--primary-color);
  font-size: 28px;
}
main .contagion .contagion_content .contagion_title h1 {
  color: #035755;
  font-size: 50px;
}
main .contagion .contagion_content .contagion_title p {
  text-align: center;
  max-width: 570px;
  color: #4b4f51;
  font-size: 18px;
  line-height: 38px;
}
main .contagion .contagion_content .cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}
main .contagion .contagion_content .cards .card {
  max-width: 400px;
  text-align: center;
  max-width: 460px;
  box-shadow: 0px 5px 80px 0px rgba(0, 0, 0, 0.0784313725);
  border-radius: 10px;
  border-bottom: 6px solid transparent;
  transition: border-color 0.3s, box-shadow 0.3s;
}
main .contagion .contagion_content .cards .card .card_content {
  padding: 60px 0px;
}
main .contagion .contagion_content .cards .card .card_content img {
  max-width: 200px;
  max-height: 180px;
}
main .contagion .contagion_content .cards .card .card_content .card_texts {
  padding-top: 50px;
  max-width: 350px;
}
main .contagion .contagion_content .cards .card .card_content .card_texts h1 {
  color: #035755;
  padding-bottom: 12px;
}
main .contagion .contagion_content .cards .card .card_content .card_texts p {
  color: #4b4f51;
  line-height: 30px;
}
main .contagion .contagion_content .cards .card:hover {
  box-shadow: 0px 35px 87px 0px rgba(0, 0, 0, 0.1098039216);
  border-bottom: 6px solid var(--primary-color);
}
main .symptomps {
  display: flex;
  flex-direction: column;
}
main .symptomps .symptomps_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .symptomps .symptomps_title h4 {
  color: var(--primary-color);
  font-size: 28px;
  font-weight: 700;
}
main .symptomps .symptomps_title h1 {
  color: #035755;
  font-size: 50px;
  font-weight: 700;
}
main .symptomps .symptomps_title p {
  max-width: 620px;
  text-align: center;
  color: #4b4f51;
  line-height: 38px;
}
main .symptomps:last-child {
  text-align: center;
}
main .symptomps img {
  max-width: 1000px;
}/*# sourceMappingURL=style.css.map */